
    <div class="prin d-none d-sm-none d-md-block" style="height: 650px; text-align: center;">
        <h1 class="texto">Queridos amigos y familiares,</h1>
        <h1 class="texto mt-2">
            Con gran emoción y alegría, me complace invitarlos a todos a la celebración de mis XV años. Este evento tan especial marcará un momento trascendental en mi vida, y deseo compartirlo con cada uno de ustedes.
            </h1>
            <h1 class="texto mt-2">Acompáñenme a celebrar este día único en el que daré un paso más hacia la adultez y la madurez. Será una noche llena de música, baile y risas, donde crearé memorias que atesoraré para siempre.</h1>
            <h1 class="texto mt-2">Además, es un honor para mí presentarles a mis queridos padres </h1>
                <h1 class="nom mt-2"> <b>Marco Antonio Estrada Nava <br> y <br> Margarita Evangelista Francisco</b> </h1>
                <h1 class="texto mt-2">Quienes han sido mi guía, apoyo y ejemplo a lo largo de estos años. Su amor incondicional y dedicación han sido fundamentales en mi camino, y deseo expresar mi profundo agradecimiento por todo lo que han hecho por mí.</h1>
            <h1 class="texto mt-2">También quiero extender una cálida bienvenida a mis padrinos</h1>
            <h1 class="nom mt-2"><b>Juan Carlos Graduño Zepeda <br> y <br> Maria Dolores Evangelista Francisco</b></h1>
            <h1 class="texto mt-2">Quienes han sido una presencia constante en mi vida, brindándome amor, consejos y apoyo en cada paso que he dado. Su presencia en este día tan especial significa mucho para mí.</h1>
            <h1 class="texto mt-4">¡No falten! Su compañía hará de este día un momento aún más especial.</h1>
    </div>
    <div class="phon d-block d-sm-block d-md-none" style="height: 600px; text-align: center;">
        <h1 class="texto">¡Hola a todos!</h1>
        <h1 class="texto">Estoy emocionada de invitarlos a mis XV años. Será una noche llena de diversión y recuerdos inolvidables. Acompáñenme y conozcan a mis padres.</h1>

        <h1 class="nom"> <b>Marco Antonio Estrada Nava 
        <br> y 
        <br>Margarita Evangelista Francisco</b></h1>

        <h1 class="texto"> Quienes estarán junto a mí en esta celebración. Con su amor incondicional y su constante apoyo, han sido mis guías en cada etapa de mi vida, y este día especial no sería completo sin su presencia. Además, con gran alegría, quiero presentarles a mis padrinos.</h1>
        <h1 class="nom"> <b>Juan Carlos Garduño Zepeda
        <br> y 
        <br>Maria Dolores Evangelista Francisco</b></h1>

        <h1 class="texto"> Quienes han sido una influencia invaluable en mi vida en cada paso que he dado.</h1>
        <h1 class="mt-4 texto">¡Espero verlos allí!</h1>
    </div>
