<div class="text-center">
    <p class="XV">XV</p>
    <h1 class="name">Valeri</h1>
    <h1 class="fecha">Sábado, 6 de Abril 2024</h1>

    
        <div class="coming-soon">
            <div class="time-countdown">
                <ul>
                    <li class="count-bg-one radius"><span id="days">{{day}}</span>Dias</li>
                    <li class="count-bg-two radius"><span id="hours">{{hours}}</span>Horas</li>
                    <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
                </ul>
            </div>
        </div>
    
</div>
